# Ignore build folder
/target

# IDE and editor configs
.idea/
*.iml
out/

# Logs
*.log

# Sensitive configs
application.properties
application-*.properties
application.yml
application-*.yml
# OS and misc
.DS_Store
Thumbs.db
